.login-container{
    max-width: 400px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 7vw;
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .icon{
    position: absolute;
    right: 10px;
    color: #333;
  }
  .input-group input {
    flex: 1;
    padding-right: 40px;
  }
  
  .input-group button {
    position: absolute;
    right: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #007bff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .text-danger {
    color: red;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 15px;
    }
    input {
      padding: 8px;
    }
    .btn-primary {
      font-size: 14px;
    }
  }
  